<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  {{!-- <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8"> --}}
  <link rel="stylesheet" href="styles/reset.css">
  <title>Home Page</title>
  <script src="https://kit.fontawesome.com/92fcb1d792.js"></script>
  <!-- Load Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Load custom CSS for overrides as needed-->
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/resultsStyles.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Actor|Lobster|Permanent+Marker|Ubuntu&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {{{body}}}
  <!-- Moment JS File -->
  <script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>
  <!-- Loading Jquery SDK from CDN -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Loading Moment SDK from CDN -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <!-- Loading Bootstrap required SDK from CDN -->
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Google Places API and Key-->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAK8bC0gK0xMtsKYpT2Xi9GwyMd7Pdg0A0&libraries=places"></script>

  <!-- Index.html Specific Javascript-->
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/places.js"></script>
</body>

</html>