html {
  scroll-behavior: smooth;
}

#filler {
  height: 0px;
}

.scrollHeight {
  height: 600px;
}

.scrollable {
  max-height: 500px;
  overflow-y: auto;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.card-line {
  padding: 0;
  margin: 0
}

.headerImg {
  width: 100%;
}

#carouselExampleSlidesOnly {
  position: relative;
}
.carouselImg{
  height: 100vh;
  width: 100vw;
}
.carousel-item {
  height: 100vh;
  width: 100vw;
}

.carousel-inner .carousel-item {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

#locationAutocomplete {
  z-index: 2;
}

div.form-group {
  position: absolute;
  z-index: 1;
  /* top: 100px; */
  /* change to whatever you want */
  max-width: 960px;
  /* margin: 0 auto;
  left: 0;
  right: 0;
  bottom: auto; */
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .carousel-inner .carousel-item {
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center !important;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .carousel-inner .carousel-item {
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center !important;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
  }
}

/* Fonts */
.logoFont {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  color: black;
}

.cardFont {

  /* font-family: 'Lobster', cursive; */
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}

.favorites-card {
  height: 500px;
  margin-top: 30px;
}